<?xml version="1.0" encoding="UTF-8"?>
<server description="WLP4Docker server">

	<!-- Enable features -->
	<featureManager>
		<feature>javaee-7.0</feature>
		<feature>jpa-2.1</feature>
	</featureManager>

	<!-- Encoded password can be generated using bin/securityUtility -->
	<keyStore password="change1me" />

	<basicRegistry id="basic" realm="BasicRealm">
		<user name="user1" password="change1me" />
	</basicRegistry>

	<!-- To access this server from a remote client add a host attribute to 
		the following element, e.g. host="*" -->
	<httpEndpoint id="defaultHttpEndpoint" httpPort="9080"
		httpsPort="9443" />

	
	<logging consoleLogLevel="INFO" traceSpecification="openjpa.jdbc.SQL=all"
	  traceFileName="trace.log"
  	maxFileSize="20"
  	maxFiles="10"
  	traceFormat="BASIC" />

	<library apiTypeVisibility="spec,ibm-api,api,third-party"
		id="DB2lib">
		<fileset dir="f:/tmp/"
			includes="db2jcc4.jar, db2jcc_javax.jar, db2jcc_license_cisuz.jar, db2jcc_license_cu.jar" />
	</library>

	<!-- portNumber="5250" serverName="db2y.mframe.sanpaoloimi.com" -->

	<dataSource 
		id="DB01025DUST04NR" jndiName="jdbc/DB01025DUST04NR"
		type="javax.sql.DataSource">
		<properties.db2.jcc databaseName="DB2UTOSC" user="u0e1591" portNumber="18019" serverName="192.168.50.235"
			traceFile="f:/tmp/DB01025DUST04NR.log" traceFileAppend="true"
			traceLevel="3" password="gi0lae11"/>
		<jdbcDriver libraryRef="DB2lib">
		</jdbcDriver>
	</dataSource>

	<dataSource 
		id="DB01025GAST04NR" jndiName="jdbc/DB01025GAST04NR"
		type="javax.sql.DataSource">
		<properties.db2.jcc databaseName="SDGAM01S" user="u0e1591" portNumber="18236" serverName="sdga.mframe.sanpaoloimi.com"
			traceFile="f:/tmp/DB01025GAST04NR.log" traceFileAppend="true"
			traceLevel="3" password="gi0lae11"/>
		<jdbcDriver libraryRef="DB2lib">
		</jdbcDriver>
	</dataSource>



	<enterpriseApplication id="WLP4Docker-ear"
		location="WLP4Docker-ear.ear" name="WLP4Docker-ear">
		<web-ext context-root="WLP4Docker" moduleName="WLP4Docker-war"></web-ext>
	</enterpriseApplication>
</server>
